.menu-minecraft {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
  max-width: 510px;
  margin: -90px auto 0;
}

.btn-mc {
  background-color: rgb(161, 161, 161);
  border: 2px solid;
  border-color: #ffffff #555555 #555555 #ffffff;
  outline: 2px solid #000000;
  color: #ffffff;
  text-decoration: none;
  font-family: var(--fuente-mojangles);
  font-size: 0.80rem;
  font-weight: bold;
  text-shadow: 2px 2px 0px #3f3f3f;
  padding: 15px 0;
  cursor: pointer;
  user-select: none;
}

.btn-mc:hover,
.btn-mc:focus-visible {
  background-color: #7994cd;
  color: #ffff55;
  text-shadow: 2px 2px 0px #3f3f00;
  outline: 2px solid #ffffff;
}

.btn-mc:active {
  border-color: #555555 #ffffff #ffffff #555555;
  background-color: #c6c6c6;
}

.btn-largo {
  width: 100%;
}

.fila-botones-inferior {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 12px;
  margin: 30px auto 0;
}

.btn-mitad {
  flex-grow: 1;
}

.btn-cuadrado {
  width: 46px;
  flex-shrink: 0;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.boton-con-burbuja {
  position: relative;
  flex-shrink: 0;
}

.grupo-central {
  position: relative;
  display: flex;
  flex-grow: 1;
  gap: 12px;
}

/* MÓVIL VERTICAL */
@media (max-width: 480px) {
  .menu-minecraft {
    max-width: min(300px, 78vw);
    gap: 10px;
    margin-top: -55px;
  }
  .btn-mc {
    font-size: 0.8rem;
    padding: 7px 15px; /*AQUÍ: 7px arriba/abajo y 15px a los lados */
  }
  .btn-cuadrado {
    width: 34px;
    font-size: 1rem;
  }
  .fila-botones-inferior {
    margin-top: 18px;
    gap: 8px;
  }
}

/* MÓVIL/TABLET HORIZONTAL — valores de TABLET */
@media (pointer: coarse) and (orientation: landscape) {
  .menu-minecraft {
    max-width: min(300px, 50vh, 78vw);
    gap: 1.8vh;
    margin-top: -20vh;
  }
  .btn-mc {
    font-size: clamp(0.55rem, 1.2vh, 0.85rem);
    padding: 1.9vh 2vh; /*AQUÍ: Ajusta el segundo valor según prefieras */
  }
  .btn-cuadrado {
    width: clamp(40px, 6vh, 40px);
    font-size: clamp(0.7rem, 2vh, 1rem);
  }
  .fila-botones-inferior {
    margin-top: 3.0vh;
    gap: 3.0vh;
    display: flex;
    justify-content: center;
  }
}

/* SOLO CELULAR HORIZONTAL (pantalla baja, hasta 500px de alto) */
@media (pointer: coarse) and (orientation: landscape) and (max-height: 500px) {
  .menu-minecraft {
    margin-top: -4vh; /*AQUÍ: sigue al translateY(-4vh) del logo en celular */
    gap: 1.9vh; /*AQUÍ */
  }
  .fila-botones-inferior {
    margin-top: 2.5vh; /*AQUÍ */
    gap: 2.5vh;
  }
}