/* =========================================================
   MENÚ DE BOTONES (ESTILO MINECRAFT JAVA)
   ========================================================= */

/* Contenedor que agrupa y centra todos los botones */
.menu-minecraft {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px; /* Espacio vertical entre los botones */
  width: 100%;
  max-width: 510px; /* Ancho máximo de la lista de botones */
  margin: -90px auto 0; /* Margen superior para separarlos del logo */
}

/* Diseño base del botón */
.btn-mc {
  background-color: rgb(161, 161, 161); /* Gris piedra clásico */

  /* El truco del 3D: borde interno de colores y contorno negro */
  border: 2px solid;
  border-color: #ffffff #555555 #555555 #ffffff; /* Arriba/Izq blanco, Abajo/Der oscuro */
  outline: 2px solid #000000; /* Borde negro exterior */

  /* Texto */
  color: #ffffff;
  font-family: "Segoe UI", system-ui, sans-serif; /* Puedes cambiarla por una pixelada */
  font-size: 1.1rem;
  font-weight: bold;
  text-shadow: 2px 2px 0px #3f3f3f; /* Sombra del texto de Minecraft */

  padding: 10px 0;
  cursor: pointer;
  user-select: none;
}

/* Efecto al pasar el cursor (Hover) */
.btn-mc:hover,
.btn-mc:focus-visible {
  background-color: #7994cd; /* El fondo se vuelve azul pálido */
  color: #ffff55; /* El texto se vuelve amarillo */
  text-shadow: 2px 2px 0px #3f3f00; /* Sombra del texto amarillo */
  outline: 2px solid #ffffff; /* El borde negro se ilumina de blanco */
}

/* Efecto al hacer clic (Hundido) */
.btn-mc:active {
  /* Invertimos la sombra del borde para que parezca que se presiona */
  border-color: #555555 #ffffff #ffffff #555555;
  background-color: #c6c6c6;
}

/* --- TAMAÑOS Y POSICIONES --- */

/* Botones principales de arriba */
.btn-largo {
  width: 100%;
}

/* Fila de abajo (Options y Quit Game) */
.fila-botones-inferior {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 12px; /* Separación horizontal */
  margin: 30px auto 0;
}

.btn-mitad {
  flex-grow: 1; /* Hacemos que se estiren para ocupar el medio */
}

/* Botoncitos cuadrados de las esquinas */
.btn-cuadrado {
  width: 46px;
  flex-shrink: 0; /* Evita que se aplasten */
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0; /* Sobrescribimos el padding para centrar el icono */
}
